
body {
    background: url(../images/car-bkgd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.containerBkgd {
    background-color: #fff;
    opacity: 0.95;
}
h1 {
    margin-top: 20px;
    color: #17A2B8;
}
.imgBox {
    max-height: 300px;
    overflow: hidden;
}
footer p {
    color: #fff;
    font-size: 80%;
    text-align: center;
    padding-top: 10px;
}
.btnBottom {
    margin-bottom: 20px;
}